numpy==1.25.3       # last release that still provides numpy.NaN
pandas==2.2.3
pandas-ta==0.3.14b0
streamlit
streamlit-autorefresh
yfinance
plotly
textblob
fuzzywuzzy
python-Levenshtein
websocket-client
requests
pytz
